.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;

  align-items: start;
}

.squareBlue {
  background-color: #4fc3f7;
}
