.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;

  align-items: start;

   @media (max-width: 820px) {  /*or 768px */
    grid-template-columns: 1fr;
  }

  @media (max-width: 480px) {
    html {
      /* 16px => 100% */
      /* 14px =>   x */
      /* 16x = 1400 => x =  87.7% */
        font-size: 87.5%;
    }
  }
}

.squareBlue {
  background-color: #4fc3f7;
}
