:root {
  --green-700: #00875f;
  --green-500: #00b37e;

  --gray-900: #121214;
  --gray-800: #202024;
  --gray-700: #323238;
  --gray-600: #7c7c8a;
  --gray-500: #8d8d99;
  --gray-400: #c4c4cc;
  --gray-300: #e1e1e6;

  --white: #ffffff;
  --red-500: #f75a68;
}
